/* 
sm	640px	
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }

 */

.section-inicio {
   width: 100%;
   height: 100vh;
}

.section-inicio div {
   background-image: url('https://fv9-3.failiem.lv/thumb_show.php?i=dbzx3fapa&view');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   height: 800px;
}

/* .content-section-inicio {
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px);
} */
