/* 
   Regular 400
   Medium 500
   Bold 700 

   font-family: 'Barlow Condensed', sans-serif;
   font-family: 'Lato', sans-serif;
*/

/* Personalization Class*/

html {
   font-family: 'Lato', sans-serif;
}

.contenedor {
   width: 95%;
   max-width: 120rem;
   margin: 0 auto;
}

.contenedor-two {
   width: 75%;
   max-width: 120rem;
   margin: 0 auto;
}
